---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
{%- for key, p in pages %}
{%- for l in ["en", "es"] %}
  <url>
    <loc>{{ site.url }}{{ p[l] }}</loc>
    <lastmod>{{ site.build }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>{{ "1.0" if key == "home" else "0.8" }}</priority>
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}{{ p.en }}"/>
    <xhtml:link rel="alternate" hreflang="es-MX" href="{{ site.url }}{{ p.es }}"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ site.url }}{{ p.en }}"/>
  </url>
{%- endfor %}
{%- endfor %}
</urlset>
